@if (housingLocation()) {
<section class="houseing">
  <div class="photo-container">
    @if (housingLocation()?.isPremium) {
    <div class="premium-tag">
      <img class="premium-icon" src="assets/crown.svg" alt="premium-icon" />
      Premium
    </div>
    }

    <img
      class="houseing-photo"
      [src]="housingLocation()?.photo"
      alt="Exterior photo of {{ housingLocation()?.name }}"
      crossorigin
    />
  </div>
  <div class="info-container">
    <h2 class="houseing-heading">{{ housingLocation()?.name }}</h2>
    <p class="houseing-location">{{ housingLocation()?.city }}, {{ housingLocation()?.state }}</p>
    <p>Available Units: {{ housingLocation()?.availableUnits }}</p>
    <p>Laundry Available: {{ housingLocation()?.laundry }}</p>
    <p>Wifi Available: {{ housingLocation()?.wifi }}</p>
    <div class="pagination">
      <button class="primary" [routerLink]="['/home', goToPrevious()]" [replaceUrl]="true">
        Previous
      </button>
      <button class="primary" [routerLink]="['/home', goToNext()]" [replaceUrl]="true">Next</button>
    </div>
  </div>
</section>
} @else {
<p>No Housing Location found with Id: {{ id() }}</p>
}
