.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
  position: relative;
}
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}
.listing-location::before {
  content: url('/assets/location-pin.svg') / '';
}
section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: '\203A';
  margin-left: 5px;
}
/* .listing:has(input[type='checkbox']:checked) {
  background-color: #d0f0ff; 
  box-shadow: 0 0 8px rgba(0, 150, 255, 0.3);
} */
.listing.selected {
  box-shadow: 0 0 10px 3px var(--primary-color);
}
.premium-tag {
  position: absolute;
  right: 0;
  padding: 0.7em;
  background-color: var(--primary-color);
  font: bold 16px Arial, sans-serif; /* font-weight, font-size, font-family */
  color: white;
  border-radius: 0 30px 0 8px;
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.premium-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: var(--primary-color);
  margin-left: 25px;
  margin-right: 8px;
}
.edit-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
